* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

main {
  display: grid;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 20px;
}

.elements {
  border: 1px solid #444;
  padding: 5px;
}

.operators,
.vars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #333;
  border-radius: 3px;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.bg-1{
  background-color: yellow;
}

.bg-2{
  background-color: orange;
}

.bg-3{
  background-color: green;
}
.bg-4{
  background-color: chocolate;
}
.bg-5{
  background-color: cadetblue;
}
.bg-6{
  background-color: darkmagenta;
}
.bg-7{
  background-color: deeppink;
}

.draggable-vars { 
  width: fit-content;
}
.bg-8{
  background-color: indianred;
}

.bg-9{
  background-color: darkseagreen;
}

.drop-zone {
  margin-top: 10px;
  padding: 2px;
  min-width: 100%;
  height: 400px;
  overflow: auto;
  border: 2px solid #ccc;
}

.code-expression {
  width: 90%;
  border: 2px solid green;
  margin: 0 auto;
}

.code-expression input {
  padding: 10px;
  width: 100%;
  border:  none;
  outline: none;
  font-size: 2rem;
}

#status,
#statusTouch {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: italic;
  text-align: center;

}

#statusTouch {
  color: blue;
  margin-top: 10px;
}